.header {
  background-color: #ab9de2;
  position: fixed;
  display: block;
  padding: 1%;
  width: 10%;
  height: 100vh;
  &-title {
    display: block;
    margin: auto;
    &-h1 {
      font-size: 1rem;
      font-weight: 700;
    }
    &-img {
      width: 100%;
      height: 100%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
