.voirPlusPage {
  &-body {
    width: 90%;
    background-color: #e3def5;
    float: right;
    &-a {
      margin: auto;
      & a {
        color: white;
        text-align: center;
      }
    }
  }
}
